<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokkok.schedule.dao.ScheduleListDao">	
    
    <select id="getScheduleListTotalCount" parameterType="java.util.Map" resultType="int">
    	select count(*) as scount
		from schedule a, board b
		where a.seq = b.seq
		and enddate - startdate + 1 &gt;= #{minTerm}
		and enddate - startdate + 1 &lt;= #{maxTerm}
		<if test="listType != 0">
		and bcode = #{listType}
		</if>
		<if test="thema != '테마 전체'">
		and thema = #{thema}
		</if>
		and subject like '%'||#{searchWord}||'%'
    </select>
    
    <select id="getScheduleList" parameterType="java.util.Map" resultType="com.kokkok.dto.ScheduleListDto">
    	select b.*
		from (select rownum rn, a.*
		from (select sseq, b.seq, bcode, userid, subject, logtime, updatetime, recommcount, wishcount, hit,
		startdate, enddate, enddate - startdate + 1 as period, originpicture, savefolder, savepicture, persons, thema		
		from schedule a, board b
		where a.seq = b.seq
		and enddate - startdate + 1 &gt;= #{minTerm}
		and enddate - startdate + 1 &lt;= #{maxTerm}
		<if test="listType != 0">
		and bcode = #{listType}
		</if>
		<if test="thema != '테마 전체'">
		and thema = #{thema}
		</if>
		and subject like '%'||#{searchWord}||'%'
		<if test="order == 1">
		order by recommcount desc, sseq desc) a
		</if>		
		<if test="order == 2">
		order by sseq desc) a
		</if>		
		where <![CDATA[ rownum <= #{endNum} ]]>) b
		where b.rn >= #{startNum}
    </select>

</mapper>
